@model MVC.netFramework.Models.LoginModel
<h1>Logowanie:</h1>

<p style="color:red; font-size:large">@TempData["name"]</p>
@using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
{
    <div>
        <p>@Html.LabelFor(model => model.Login)</p>
        <p>@Html.EditorFor(model => model.Login)</p>
        <p>@Html.ValidationMessageFor(model => model.Login)</p>
    </div>

    <div>
        <p>@Html.LabelFor(model => model.Password)</p>
        <p>@Html.EditorFor(model => model.Password)</p>
        <p>@Html.ValidationMessageFor(model => model.Password)</p>
    </div>
    <div>
        <input type="submit" name="name" value="Login" />
    </div>



}
<h4>Dostępne loginy:</h4>
<div style="display:flex">

    <div class="w200">
        <p>l:admin</p>
        <p>h:Admin2020!</p>
    </div>
    <div class="w200">
        <p>l:PROGMAT</p>
        <p>h:haslo</p>
    </div>
    <div class="w200">
        <p>l:Martyna</p>
        <p>h:Haslo123</p>
    </div>
</div>

<style>
    .w200 {
        width: 200px;
        border: solid 1px #cecece;
    }

        .w200 p {
            padding: 20px;
        }
</style>
