
    ViewBag.Title = "Books_Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books_Rents</h2>
<h1>    @ViewBag.ReturnBookID </h1>
<h3>Already rented books:</h3>

@foreach (MVC.netFramework.Models.RentedBooksModel d in Model)
{
    using (Html.BeginForm("Delete", "Home", FormMethod.Post))
    {
<div class="books">
    <p>
        @Html.Hidden("Title", d.Title)

    </p>
    <p>
        @Html.ValueFor(Model => d.Author)

    </p>


    <p>
        @Html.ValueFor(Model => d.Cover)

    </p>
    <p>
        @Html.ValueFor(Model => d.User)

    </p>
    <p>
        @Html.ValueFor(Model => d.RentialDate)

    </p>
    @Html.Hidden("BookID", d.BookID)
    @Html.Hidden("UserID", d.UserID)
    <p><input type="submit" name="name" value="delete" /></p>
</div>

    }
}

<h3>Books rented by you</h3>
@foreach (MVC.netFramework.Models.RentedBooksModel details in Model)
{

    if (details.User == Session["UserID"].ToString())
    {
        <div class="books">
            <p>@details.Title</p>
            <p>@details.Author</p>
            <p>@details.Cover</p>
            <p>@details.User</p>
            <p>@details.RentialDate</p>
        </div>
    }
}
<style>
    .books {
        display: flex;
    }

        .books p {
            margin: 20px;
        }
</style>

