

<h2>Wypożyczone książki</h2>

<h3>Wszystkiw wypożyczone książki:</h3>
<table>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Opis</th>
        <th>Właściciel</th>
        <th>Data wypożyczenia</th>
    </tr>
    @foreach (MVC.netFramework.Models.RentedBooksModel details in Model)
    {
<tr>
    <td>@details.Title</td>
    <td>@details.Author</td>
    <td>@details.Cover</td>
    <td>@details.User</td>
    <td>@details.RentialDate</td>
</tr>
    }
</table>
    <h3>Książki wypożyczone przez użytkownika o loginie: @Session["UserID"].ToString()</h3>
    <table>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Rodzaj okładki</th>
            <th>Właściciel</th>
            <th>Data wypożyczenia</th>
            <th>Oddaj książkę</th>
        </tr>
        @foreach (MVC.netFramework.Models.RentedBooksModel f in Model)
        {
            if (f.User == Session["UserID"].ToString())
            {
                using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                {
                    <tr>

                        <td>@Html.ValueFor(Model => f.Title)</td>
                        <td>@Html.ValueFor(Model => f.Author)</td>
                        <td>@Html.ValueFor(Model => f.Cover)</td>
                        <td>@Html.ValueFor(Model => f.User)</td>
                        <td>@Html.ValueFor(Model => f.RentialDate)</td>


                        @Html.Hidden("BookID", f.BookID)
                        @Html.Hidden("UserID", f.UserID)
                        <td style="background: #cecece;padding:0px 0px"><button style="background:unset;border: 0px; width: 100%" type="submit" name="name"  >Oddaj</button></td>

                    </tr>
                }
            }
        }
    </table>
    <style>
        .books {
            display: flex;
        }

            .books p {
                margin: 20px;
            }


        .books {
            display: flex;
        }

            .books p {
                margin: 20px;
            }

        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
            min-width: 33%;
            border: 1px solid #ddd;
            text-align: left;
            width: 200px;
        }
    </style>

