
@{
    ViewBag.Title = "Home Page";
}
<h1> Nasze dostępne książki</h1>
<h4>lista książek które są dodane do bazy danych i nie zostały wypożyczone przez nikogo</h4>
<table>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Opis</th>
    </tr>

    @foreach (MVC.netFramework.Models.RentedBooksModel e in Model)
    {


<tr>
    <td>@Html.ValueFor(Model => e.Title)</td>
    <td>@Html.ValueFor(Model => e.Author)</td>
    <td>@Html.ValueFor(Model => e.Cover)</td>

    @using (Html.BeginForm("Rent", "Home", FormMethod.Post))
    {
        @Html.Hidden("BookID", e.BookID)
        @Html.Hidden("UserID", Session["userID_ID"].ToString())
        <td><button style="background:unset;border: 0px; width: 100%" type="submit" name="name">Wypożycz</button></td>
    }
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
    {
        @Html.Hidden("Title", e.Title)
        @Html.Hidden("Author", e.Author)
        @Html.Hidden("Cover", e.Cover)
        @Html.Hidden("BookID", e.BookID)
        <td><button style="background:unset;border: 0px; width: 100%" id="target" name="name">Edytuj</button></td>
    }
</tr>
        
        
    }
</table>

<script>
    $("#target").click(function () {
        alert("Handler for .click() called.");
    });
</script>
    <style>

        .books {
            display: flex;
        }

            .books p {
                margin: 20px;
            }

        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
            min-width: 33%;
            border: 1px solid #ddd;
            text-align: left;
            width: 200px;
        }
    </style>